.home-style{
    display: grid;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .home-style{
        grid-template-columns: repeat(1, 1fr);
        margin: 10px 50px;
        padding: 5px 20px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .home-style{
        grid-template-columns: repeat(2, 1fr);
        margin: 10px 50px;
        padding: 5px 20px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .home-style{
        grid-template-columns: repeat(3, 1fr);
        margin: 10px 50px;
        padding: 5px 20px;
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .home-style{
        grid-template-columns: repeat(4, 1fr);
        margin: 10px 50px;
        padding: 5px 20px;
    }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    .home-style{
        grid-template-columns: repeat(5, 1fr);
        margin: 10px 50px;
        padding: 5px 20px;
    }
}