.nav-style{
  background-color: black;
  color: white;
  position: sticky;
}
.nav-style ul li{
  list-style-type: none;
}
.nav-style2{
  color: white;
}
.nav-style2{
  font-size: 20px;
}
.nav-style2:hover{
  text-decoration: none;
  color: #f9f9f9ca;
}